/* General Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Main Content Styles */

.hero-image {
  background-image: url('./lll.webp');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.hero-image h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-image p {
  font-size: 24px;
  margin-bottom: 30px;
}

.movie-list {
  padding: 50px;
}

.movie
